
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }

 
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


/*beginsprite*/
.icondocument, .iconfacebook, .icongoogle, .iconlamp, .iconlinkedin, .iconmenu, .iconmessage, .iconmic, .iconspeed, .iconsupport, .icontwitter, .iconvideo, .logo1, .logo2, .logo3, .logo4, .logo5, .uisumo{
	background: url(../img/sprites.png) no-repeat;
}

.icondocument{
	background-position: -97px -103px ;
	width: 69px;
	height: 83px;
	margin: 0 auto;
}

.iconfacebook{
	background-position: -96px -227px ;
	width: 41px;
	height: 41px;
	display: inline-block;
}

.icongoogle{
	background-position: -41px -228px ;
	width: 41px;
	height: 41px;
	display: inline-block;
}

.iconlamp{
	background-position: -284px -113px ;
	width: 40px;
	height: 58px;
	margin: 0 auto;
}

.iconlinkedin{
	background-position: -213px -228px ;
	width: 41px;
	height: 41px;
	display: inline-block;
	
}

.iconmenu{
	background-position: -120px -334px ;
	width: 99px;
	height: 99px;
}

.iconmessage{
	background-position: -38px -311px ;
	width: 38px;
	height: 33px;
	margin: 0 auto;
}

.iconmic{
	background-position: -347px -114px ;
	width: 58px;
	height: 51px;
	margin: 0 auto;
}

.iconspeed{
	background-position: -196px -112px ;
	width: 59px;
	height: 58px;
	margin: 0 auto;
}

.iconsupport{
	background-position: 0 -111px ;
	width: 83px;
	height: 78px;
	margin: 0 auto;
}

.icontwitter{
	background-position: -152px -228px ;
	width: 41px;
	height: 41px;
	display: inline-block;
}

.iconvideo{
	background-position: -417px -110px ;
	width: 83px;
	height: 83px;
	margin: 0 auto;
}

.logo1{
	background-position: -333px -15px ;
	width: 70px;
	height: 51px;
	margin: 0 auto;
}

.logo2{
	background-position: -100px -7px ;
	width: 63px;
	height: 64px;
	margin: 0 auto;
}

.logo3{
	background-position: -247px -1px ;
	width: 76px;
	height: 76px;
	margin: 0 auto;
}

.logo4{
	background-position: -177px -11px ;
	width: 52px;
	height: 57px;
	margin: 0 auto;
}

.logo5{
	background-position: -25px -8px ;
	width: 62px;
	height: 62px;
	margin: 0 auto;
}

.uisumo{
	background-position: -35px -365px ;
	width: 86px;
	height: 23px;
}

/*endsprite*/



body{
  max-width: 1920px;
  min-width: 700px;
  margin: 0 auto;
}

header{
  height: 920px;
  background-color: #f0689e;
  background-image: url(../img/bgbannerlayer.png),
                    url(../img/circles.png);
  background-repeat: no-repeat;
  background-position: 70% 100%, 70% 75%;
}

    .logotype{
      padding-top: 50px;
      padding-left: 100px;
      float: left;
    }

    nav ul {
      list-style: none; 
      margin: 0; 
      padding-top: 40px;
      padding-left: 60%; 
    }

    nav a{
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      color: white;
      font-size: 20px;
      font-weight: bold;
      display: block;
      margin: 10px 20px;
    }

    nav li{
      display: inline-block;
    }

    .contentheader{
      position: relative;
      top: 25%;
      text-align: center;
    }

    .fontheadup{
      text-transform: capitalize;
      font-weight: bold;
      font-size: 45px;
      color: white;
    }

    .fontheaddown{
      font-weight: bold;
      font-size: 25px;
      color: white;
      margin-top: 30px; 
    }
      .buttonhead{
        background-color: #fed45c;
        border-radius: 20px;
        width: 300px;
        height: 70px;
        border: none;
        margin-top: 30px;
      }

       .buttonheadfont{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
      }

.logos{
  position: relative;
  top: -80px;
  left: 420px;
  height: 170px;
    }

    .logo{
      width: 170px;
      height: 170px;
      margin-right: 50px;
      padding: 30px;
      text-align: center;
      display: inline-block;
      vertical-align: top;
      line-height: 50px;
      background-color: #ffffff;
      box-shadow: 0 0 20px gray;
          }

      .logo:last-child{
        margin-right: 0;
      }

    .fontlogo{
      font-size: 18px;
      font-weight: bold;
      color: gray;
      margin-bottom: 15px;
      margin-top: -10px;
      text-transform: uppercase;
          }

.intro{
  height: 970px;
  background-color: #ffffff;
  text-align: center;
}

    .introleft{
      width: 600px;
      height: 440px;
      border: 0.5px solid black;
      display: inline-block;
      margin:20px;
      vertical-align: top;
    }

    .introright{
      width: 600px;
      height: 440px;
      background-color: silver;
      border: 0.5px solid black;
      display: inline-block;
      margin: 20px;
    }

        .introfont3{
          font-size: 45px;
          padding-bottom: 10px; 
        }

        .introfont4{
          font-size: 20px;
          color: silver;
          padding-bottom: 5px;
        }

        .introfont5{
          font-size: 30px;
          color: silver;
          padding-bottom: 20px;
        }

        .buttonintro{
        background-color: #fed45c;
        border-radius: 20px;
        width: 300px;
        height: 70px;
        border: none;
        margin-top: 15px;
        float: left;
      }

    .introdown{
      width: 1260px;
      height: 370px;
      border: 0.5px solid black;
      margin: 20px 20px 20px 330px;
      padding: 10px 100px;
      text-align: center;
    }

        .introfont1{
          font-size: 20px;
          text-transform: uppercase;
          padding-top: 5px;
          padding-bottom: 20px; 
        }

        .introfont2{
          font-size: 38px;
          color: silver;
          padding-bottom: 20px;
        }



.services{
  height: 360px;
  background-color: #fcfcfc;
  text-align: center;
}

    .service{
      width: 400px;
      height: 250px;
      display: inline-block;
      border: 0.5px solid black;
      margin: 50px 20px;
      vertical-align: top;
    }

          .servicefont1{
          font-size: 30px;
          padding: 15px;
          text-transform: capitalize;
        }

          .servicefont2{
          font-size: 20px;
          color: silver;
          padding-bottom: 5px;
        }

        



.counter{
  position: relative;
  height: 470px;
 /* background-color: #f0689e;*/
  background-image: url(../img/bgcounter.png);
                    /*url(../img/bgcounterlayer.png),
                    url(../img/bgcounterlayerp.png);*/
  background-position: top;
  background-repeat: no-repeat;
}

    .counter img{
      padding-top: 130px;
      padding-left: 330px;
    }

    .counterright{
      position: absolute;
      top: 200px;
      left: 1000px;
    }

        .counterfont{
          color: white;
          font-size: 50px;
          font-weight: bold;
          text-transform: capitalize;
        }

    .counterstat{
      width: 250px;
      display: inline-block;
      text-align: left;
      padding-top: 20px;
    }

        .counterstatfont1{
          color: white;
          font-size: 60px;
          font-weight: bold;
        }

        .counterstatfont2{
          color: white;
          font-size: 20px;
          font-weight: bold;
          text-transform: uppercase;
        }


.latest{
  height: 760px;
  background-color: #ffffff;
  text-align: center;
}

    .latestup{
        width: 1250px;
        height: 150px;
        border: 0.5px solid black;
        margin: 20px 20px 20px 330px;
        text-align: center;
    }

        .latestfont1{
          font-size: 50px;
          text-transform: capitalize;
          padding: 5px;
        }

        .latestfont2{
          font-size: 30px;
          color: silver;
          padding: 5px;
        }

    .latestleft{
      width: 600px;
      height: 450px;
      border: 0.5px solid black;
      display: inline-block;
      margin:20px;
    }

    .latestright{
      width: 600px;
      height: 450px;
      border: 0.5px solid black;
      display: inline-block;
      margin: 20px;
    }

.news{
  height: 900px;
  background-color: #f6f6f6;
}

    .newsleft{
      position: relative;
      left: 320px;
      top: 100px;
      width: 400px;
      height: 550px;
      border: 0.5px solid black;
      margin: 20px;
      padding: 30px 10px;
      background-color: white;
      box-shadow: 0px 0px 25px 2px #C4C4C4;
    }

        .newsleftfont1{
          font-size: 36px;
          text-transform: capitalize;
          padding: 5px;
        }

        .newsleftfont2{
          font-size: 18px;
          color: silver;
          padding: 5px;
        }

        .formnews{
          width: 350px;
          height: 50px;
          border: 2xp gray;
          border-style: solid;
          border-radius: 10px;
          color: silver;
          font-size: 18px;
          padding-left: 10px;
          margin: 15px 0;
        }

        input:focus {
          background: aquamarine;
          }

        .buttonnewsleft{
          background-color: #fed45c;
          border-radius: 20px;
          width: 350px;
          height: 70px;
          border: none;
          margin-top: 30px;
        }

        .buttonnewsleftfont{
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
        }

    .newsright{
      position: relative;
      top: -480px;
      left: 820px;
      width: 750px;
      height: 450px;
      border: 0.5px solid black;
      margin: 20px;
    }

    .newsdown{
      position: relative;
      top: -480px;
      left: 820px;
      width: 750px;
      height: 250px;
      border: 0.5px solid black;
      margin: 20px;
    }

.support{
  height: 570px;
  background-color: #ffffff;
  text-align: center;
}

    .supportup{
      width: 1200px;
      height: 150px;
      border: 0.5px solid black;
      margin:20px 20px 20px 350px;
      text-align: center;
    }

          .supportfont1{
          font-size: 50px;
          text-transform: capitalize;
          padding: 5px;
        }

        .supportfont2{
          font-size: 30px;
          color: silver;
          padding: 5px;
        }

    .supportdown{
      width: 350px;
      height: 350px;
      border: 0.5px solid black;
      display: inline-block;
      margin:20px;
      vertical-align: top;
    }


          .supportdownfont1{
          font-size: 30px;
          padding: 15px;
          text-transform: uppercase;
        }

          .supportdownfont2{
          font-size: 20px;
          color: silver;
          padding-bottom: 5px;
        }

          .buttonforum{
          background-color: white;
          border-radius: 20px;
          border: 1px solid gray;
          width: 200px;
          height: 70px;
          margin-top: 30px;
        }

        .buttonforumfont{
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
        }

        .buttondocument{
          background-color: #fed45c;
          border-radius: 20px;
          width: 200px;
          height: 70px;
          border: none;
          margin-top: 30px;
      }

        .buttonvideo{
          background-color: white;
          border-radius: 20px;
          border: 1px solid gray;
          width: 200px;
          height: 70px;
          margin-top: 30px;
        }

footer{
  height: 300px;
  background-image: url(../img/bgfooter.png);
}

    .footlogos{
      width: 200px;
      margin: 0 auto;
      padding-top: 80px;
    }

    address{
      padding-left: 38%;;
      padding-top: 30px;
      color: gray;
      font-size: 20px;
    }